ul {
    list-style: none;        /* removes bullets */
    padding-left: 0;         /* removes default indent */
}

ul li {
    padding-left: 1.5em;     /* creates hanging indent space */
    text-indent: -1.5em;     /* pulls first line back */
    margin-bottom: 0.0em;    /* spacing between entries */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h2, h3 {
    line-height: 1.4;
    margin-bottom: -0.7em;
}

.container {
    width: 65%;
    margin: auto;
    overflow: hidden;
    padding-left: 20px; /* Adjust this value as needed */
}

main {
    padding-bottom: 50px; /* Add padding to the bottom of the main content */
}

footer {
    margin-top: 50px; /* Add margin to the top of the footer */
    text-align: center;
    padding: 10px 0;
    background-color: #f4f4f4;
    color: #333;
}

#showcase {
    min-height: 400px;
    background: url('showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #fff;
}

h1 {
    margin-top: 80px;
    font-size: 40px;
    margin-bottom: 5px;
    padding-left: 0px; /* Match this value with the container's padding */

}

#showcase p {
    font-size: 20px;
}

/* Hyperlink styling */
a {
    color: #000; /* Black color for hyperlinks */
    text-decoration: none; /* Remove underline if desired */
}

a:hover, a:focus {
    color: #000; /* Ensure hover and focus states are also black */
    text-decoration: underline; /* Optional: Add underline on hover/focus */
}

/* Print button styling */
#button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: fixed;
    z-index: 1;
    bottom: 15px;
    right: 19px;
}

#button:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    #button {
        padding: 10px 20px; /* Increase padding for a bigger button */
        font-size: 1em; /* Increase font size */
    }

/* Sytle Table and Make Responive*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    padding-left: 20px; /* Match this value with the container's padding */
}

td {
    padding: 0px;
    vertical-align: middle; /* Align text vertically with icons */
}

td a {
    display: inline-flex; /* Use inline-flex for alignment */
    align-items: center; /* Center align items vertically */
}

td img {
    margin-right: 0.5em; /* Adjust spacing between icon and text */
    vertical-align: middle; /* Ensure the icon is vertically aligned */
}



@media (max-width: 768px) {
    table, td {
        display: block;
        width: 100%;
        padding: 0px;
    }
}


/* Media Queries for Mobile Optimization */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 0 20px; /* Add padding to the sides */
        box-sizing: border-box; /* Ensure padding is included in the width */
    }

    #showcase h1 {
        font-size: 15px;
        margin-top: 50px;
    }
    

    #showcase p {
        font-size: 16px;
    }

    #button {
        padding: 4px 10px;
        bottom: 10px;
        right: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 0 25px; /* Add padding to the sides */
        box-sizing: border-box; /* Ensure padding is included in the width */
    }

    #showcase h1 {
        font-size: 28px;
        margin-top: 10px;
    }

    h1 {
        font-size: 30px;
        margin-top: 25px;
    }
    #showcase p {
        font-size: 14px;
    }

    #button {
        padding: 3px 8px;
        bottom: 8px;
        right: 8px;
    }
}